* {
    padding: 0px;
    margin: 0px;
}



body { 
    height: 100vh;
    background-color: #010034;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 50px;
}

#title {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 70px;
    color: #4e4e50;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 75%;
    height: 65px;
    border: 1px solid white;
    border-radius: 15px;
    background: linear-gradient(to right, #373737, #292929, #292929, #373737);
}
  


.boardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.boardSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.boardName {
    font-size: larger;
    font-weight: 1000;
} 

.boardsDisplay {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows:repeat(10, 45px);
    gap: 5px;
}

.boxDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: 2rem;
    max-height: 45px;
    max-width: 45px;
}

.enemyBoxes:hover {
    cursor: crosshair;
    background-color: green;
}

.boxDisplay img {
    opacity: 0.7;
    z-index: -2;
}

/* .hidden {
    display: none;
} */

.show {
    display: block;
    filter: brightness(50%);
}

.boxDisplay.hit::after, 
.boxDisplay.missedAttack::after{
    position: absolute;
    content: "";
    width: 15px; 
    height: 15px;
    background-color: red;
    border-radius: 50%; 
    z-index:2; 
}

.boxDisplay.missedAttack::after{
    background-color: white;
}

.enemyBoxes.hit:hover,
.enemyBoxes.boxDisplay.missedAttack:hover {
    background-color: rgb(255, 45, 45);
    cursor: not-allowed;
}

.carrier {
    position: relative;
    left: 100px;
    min-width: 225px;
    max-width: 225px;
    height: 35px;
}

.carrier.yAxis {
    position: relative;
    top: 100px;
    left: 0px;
    transform: rotate(90deg);
}

.battleship {
    position: relative;
    left: 75px;
    min-width: 180px;
    max-width: 180px;
    height: 30px;
}

.battleship.yAxis {
    position: relative;
    top: 75px;
    left: 0px;
    transform: rotate(90deg);
}

.destroyer {
    position: relative;
    left: 50px;
    min-width: 135px;
    max-width: 135px;
    height: 30px;
}

.destroyer.yAxis {
    position: relative;
    top: 50px;
    left: 0px;
    transform: rotate(90deg);
}

.submarine {
    position: relative;
    left: 35px;
    min-width: 160px;
    max-width: 160px;
    height: 60px;
}

.submarine.yAxis {
    position: relative;
    top: 35px;
    left: 0px;
    transform: rotate(90deg);
}


.patrolBoat {
    position: relative;
    left: 10px;
    min-width: 150px;
    max-width: 150px;
    height: 50px;
}

.patrolBoat.yAxis {
    position: relative;
    top: 10px;
    left: 0px;
    transform: rotate(90deg);
}


.declareWinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 4rem;
    font-weight: 800;
}